/* background image */
body {
  background-repeat: repeat;
}

.entire-container {
  padding: 15px;
  background-color: white;
  width: 1320px;
  margin: auto;
  position: relative;
}

/* Header */
.title-container {
  border-bottom: 1px solid #eaeaea;
}

.title-container h1 {
  color: #862a27;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

.enter-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.enter-container h2{
  color: #f1bb4e;
  font-family: 'Poppins', sans-serif !important;
  font-size: 32px;
  font-weight: bold;
}

.button {
  font-family: 'Poppins', sans-serif !important;
}