/* background image */
body img {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.entire-container {
  padding: 15px;
  background-color: white;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: auto;
  position: relative;
}

.title-container {
  border-bottom: 1px solid #eaeaea;
}