/* containers */
.title-container, .enter-container {
  display: flex;
  justify-content: center;
}

/* elements */
h1 {
  align-self: center;
  padding: 20px;
  background-color: gray;
}

.enter-container a {
  align-self: center;
  padding: 20px;
  font-size: 24px;
  background-color: greenyellow;
  border-radius: 15px;
  color: black;
}

.title-container {
  border-bottom: none;
}