.enter-container{
  text-align: center;
}

#recipe-image img{
  position:inherit;
  z-index: 0;
}

#recipe-summary h2 {
  font-family:cursive;
  font-size: 45px;
  font-weight: bold;
  color: #e47848
}

#recipe-instructions h2 {
  font-family:cursive;
  font-size: 45px;
  font-weight: bold;
  color: #e47848
}

#wine-pairing h2 {
  font-family:cursive;
  font-size: 45px;
  font-weight: bold;
  color: #e47848
}

#video-player h2 {
  font-family:cursive;
  font-size: 45px;
  font-weight: bold;
  color: #e47848
}

#wine-grid .wine-card, #wine-grid .wine-card {
  width: 400px;
  flex-grow: 0;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
}

.wine-card img {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: inherit;
  height: inherit;
  z-index: 0;
}