/* Recipe List */
.recipe-list-container .recipe-card, .recipe-list-container .fill-card {
  width: 270px;
  flex-grow: 0;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: white;
}

.recipe-list-container .fill-card {
  border: 0;
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.image-container{
  position: relative;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
}

.recipe-card a {
  color: #64737b;
}

.recipe-card img {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: inherit;
  height: inherit;
  z-index: 0;
}

.recipe-card .card-section {
  font-family: 'Poppins', sans-serif !important;
}

.recipe-card .card-section h3{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #374044;
}

.recipe-card .card-section p{
  font-size: 12px;
  line-height: 0.4;
}



/* Load More */
.load-more {
  margin-top: 30px;
}

/* Responsive Medium */
@media screen and (max-width: 992px) {
  .recipe-list-container .recipe-card, .recipe-list-container .fill-card {
    width: 220px;
  }
}