.recipe-list-container .recipe-card, .recipe-list-container .fill-card {
  width: 400px;
  flex-grow: 0;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recipe-list-container .fill-card {
  border: 0;
  background-color: white;
}

.image-container{
  position: relative;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
}

.recipe-card img {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: inherit;
  height: inherit;
  z-index: 0;
}