/* Header */
.enter-container{
  text-align: center;
}

.breadcrumb-container {
  margin: 0;
  line-height: 1;
  font-family: 'Poppins', sans-serif !important;
  font-size: 10px;
}

.breadcrumb-container p {
  margin: 0;
  margin-top: 3px;
}

.breadcrumb-container a:active, .breadcrumb-container a:visited {
  color: #374044;
}

#credit-and-link{
  line-height: 1;
  font-family: 'Poppins', sans-serif !important;
  font-size: 12px;
}

#recipe-image {
  width: 100%;
}

#recipe-image img{
  position:inherit;
  text-align: center;
}

/* Recipe Content */
.recipe-info h2 {
  font-family: 'Poppins', sans-serif !important;
  font-size: 24px;
  font-weight: bold;
  color: #374044;
  border-bottom: 1px solid #eaeaea;
  margin-top: 10px;
}

.ingredient-card, .fill-card {
  width: 270px;
  flex-grow: 0;
}

.fill-card {
  border: none;
  background-color: white;
}

.recipe-info p, .recipe-info ol li {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px;
  color: #374044;
}

#recipe-instructions ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

#recipe-instructions ol li{
  counter-increment: my-awesome-counter;
}

#recipe-instructions ol li::marker  {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
}

#wine-grid .wine-card, #wine-grid .wine-card {
  width: 270px;
  flex-grow: 0;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
}

.wine-card img, .ingredient-card img {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: inherit;
  height: inherit;
  z-index: 0;
}

#videoPlayer {
  width: 100%;
  height: 720px;
}

@media screen and (max-width: 992px) {
  .ingredient-card, .fill-card {
    width: 220px;
    flex-grow: 0;
  }

  #videoPlayer {
    height: 480px;
  }

}