/* Navigation */
.tab-navigation-container {
  margin-top: 20px;
  text-align: center;
}

/* Tabs */
.tabs .tabs-title a{
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px;
}

.tabs .tabs-title a:focus{
  outline: none;
}

/* Search and Pot Container */
#search-container{
  border-right: 1px solid #eaeaea;
  flex-wrap: wrap;
  padding-right: 15px;
}

#ingredientSearch {
  width: 100%;
}

#ingredient-search-button {
  height: 2.4375rem;
}

.search-group{
  margin-bottom: 0;
}

.search-instructions, .click-and-drag-instructions {
  font-family: 'Poppins', sans-serif !important;
  font-style: italic;
}

.pot-title {
  height: 80px;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

#pot-container{
  flex-wrap: wrap;
  padding-left: 15px;
}

.ingredient-card, .added-ingredient-card{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  touch-action: none;
  user-select: none;
  position: relative;
  width: 250px;
  flex-grow: 0;
  z-index: 1;
}

.added-ingredient-card{
  z-index: 0;
}

.fill-card{
  position: relative;
  width: 250px;
  border: none;
  background-color: none;
  flex-grow: 0;
  z-index: -1;
}

.image-container{
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
}

.ingredient-card img, .added-ingredient-card img {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: inherit;
  height: inherit;
}

.ingredient-card .card-section p {
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .ingredient-card, .added-ingredient-card .fill-card {
    width: 220px;
  }
}