.tabs {
  width: auto;
}

#search-container{
  border-right: 1px solid #eaeaea;
  flex-wrap: wrap;
}

#pot-container{
  flex-wrap: wrap;
  padding-left: 15px;
}

.ingredient-card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  touch-action: none;
  user-select: none;
  position: relative;
}

.tab-navigation-container {
  margin-top: 20px;
  text-align: center;
}